MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=bitrix
MYSQL_LOGIN=root
MYSQL_PASSWORD=123

BITRIX_DEBUG=true

ELASTICSEARCH_HOSTS="localhost"
ELASTICSEARCH_USER="elastic"
ELASTICSEARCH_PASSWORD="elastic"
ELASTICSEARCH_CATALOG="catalog"

BITRIX_24_REST=""

CRM_FORM_CALLBACK_IBLOCK_ID=""
CRM_FORM_CALLBACK_RESPONSIBLE_ID=""
CRM_FORM_CALLBACK_GROUP_ID=""

SNTINVEST_MARKET_OZON_CLIENT_ID=""
SNTINVEST_MARKET_OZON_APT_KEY=""

SNTINVEST_MARKET_YANDEX_ID_COMPANY=""
SNTINVEST_MARKET_YANDEX_CLIENT_ID=""
SNTINVEST_MARKET_YANDEX_TOKEN=""

CATALOG_ID=""
VIDEO_ID=""
ADVANTAGES_HOMEPAGE_ID=""
IDEAS_ID=""
FINDCOUPLE_ID=""
BLOG_ID=""
ADVANTAGES_ELEMENT_ID=""
FAQ_ID=""